/* ==================================================
   BLOCK (F)
================================================== */

.F1, .F2, .FD, .FHb {display: block; background: #FFF;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);
 -khtml-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);
     -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);
     	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 3px rgba(0,0,0,0.3);}

.F2 {
-webkit-linear-gradient(top, rgba(255, 255, 255, 0.298039) 0px, rgb(255, 255, 255) 400px);
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.298039) 0px, rgb(255, 255, 255) 400px);
background-position-x: initial;
background-position-y: initial;
background-size:	   initial;
background-repeat-x:   initial;
background-repeat-y:   initial;
background-attachment: initial;
background-origin:	   initial;
background-clip:	   initial;
background-color:	   initial}

.FD {background: #FFF;
background: -webkit-gradient(linear, top, color-stop(0,#F7F7F7), color-stop(80%,#FFF));
background: -webkit-linear-gradient(top,#F7F7F7 0,#FFF 80%);
background:    -moz-linear-gradient(top,#F7F7F7 0,#FFF 80%);
background:		-ms-linear-gradient(top,#F7F7F7 0,#FFF 80%);
background:		 -o-linear-gradient(top,#F7F7F7 0,#FFF 80%);
background:			linear-gradient(top,#F7F7F7 0,#FFF 80%);}

.FHb:hover {
-webkit-box-shadow: 0 1px 7px rgba(0,0,0,0.4);
 -khtml-box-shadow: 0 1px 7px rgba(0,0,0,0.4);
   -moz-box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    -ms-box-shadow: 0 1px 7px rgba(0,0,0,0.4);
     -o-box-shadow: 0 1px 7px rgba(0,0,0,0.4);
     	box-shadow: 0 1px 7px rgba(0,0,0,0.4);}

/* ==================================================
   BLOCK (SH & BK)
================================================== */

/*  SH
------------------------------------- */
.SH {
-webkit-border-radius: 100%/33px;
 -khtml-border-radius: 100%/33px;
   -moz-border-radius: 100%/33px;
    -ms-border-radius: 100%/33px;
     -o-border-radius: 100%/33px;
   		border-radius: 100%/33px;

-webkit-box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);
 -khtml-box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);
     -o-box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);
   		box-shadow: 0 8px 3px -5px rgba(0,0,0,0.2);}

.SH h3 {padding: 12px 0; font-size: 16px; letter-spacing: 1px; text-align: center}

/* SHl */
.SHl, .SH2l {width: 28%; float: left}
.SHl h2 {padding: 25px; font-size: 20px}
.SHl p {padding: 25px; color: #999}
.SHl button {width: 100%}

/* SH2l */
.SH2l a:before
{content: url('all/ico/row_1.png'); margin-right: 20px; vertical-align: middle; opacity: 0.1}
.SH2l a {border-bottom: solid 1px #EEE; font-size: 13px; color: #AAA}
.SH2l a:hover {background: #FFF;

background: -webkit-gradient(linear, top, color-stop(0,#F7F7F7), color-stop(80%,#EEE));
background: -webkit-linear-gradient(top,#F7F7F7 0,#EEE 80%);
background:    -moz-linear-gradient(top,#F7F7F7 0,#EEE 80%);
background:		-ms-linear-gradient(top,#F7F7F7 0,#EEE 80%);
background:		 -o-linear-gradient(top,#F7F7F7 0,#EEE 80%);
background:			linear-gradient(top,#F7F7F7 0,#EEE 80%);}

/* SHr */
.SHr, .SH2r {width: 72%; background: #FFF; float: right;

-webkit-border-radius: 0 4px 4px 0;
 -khtml-border-radius: 0 4px 4px 0;
   -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
     -o-border-radius: 0 4px 4px 0;
   		border-radius: 0 4px 4px 0;

-webkit-box-shadow: -3px 0 8px -6px rgba(0,0,0,1);
 -khtml-box-shadow: -3px 0 8px -6px rgba(0,0,0,1);
   -moz-box-shadow: -3px 0 8px -6px rgba(0,0,0,1);
    -ms-box-shadow: -3px 0 8px -6px rgba(0,0,0,1);
     -o-box-shadow: -3px 0 8px -6px rgba(0,0,0,1);
   		box-shadow: -3px 0 8px -6px rgba(0,0,0,1);}

.SHr {padding: 50px 0}
.SHr h2 {margin: 0 auto 50px auto; font-size: 20px; text-align: center}
.SHr p {margin: 50px; font-size: 14px; text-align: center}
.SHr form {width: 100%; margin: 0 auto}
.SHr div:last-child {width: 195px; margin: 50px auto 0 auto}
.SHr p a {font-size: 12px; color: #999}
.SHr p a:hover {color: #69C; text-decoration: underline}
.SHr button {width: 195px}

/* SH2r */
.SH2r {min-height: 492px; text-shadow: 0 1px 2px rgba(0,0,0,0.15); text-align: center}
.SH2r h2 {font-size: 60px; font-weight: 300}
.SH2r h3 {margin: 40px 0; font-size: 20px; font-weight: 300}
.SH2r h4 {margin: 30px 0 5px 0; color: #000; text-align: left; font-size: 16px}
.SH2r h4:before
{content: url('all/ico/row_1.png'); margin-right: 10px; vertical-align: middle; opacity: 0.15}
.SH2r ul {margin: 0 0 40px 60px; padding-left: 20px; border-left: 8px solid #69C; text-align: left}
.SH2r li {margin: 10px auto; color: #69C}
.SH2r p {margin: 0 0 20px 0; font-size: 13px; color: #555; text-align: left}
.SH2r form {text-align: center}
.SH2r label {display: inline-block; margin-top: 50px}
.SH2r textarea {padding: 10px; resize: vertical; outline: none}
.SH2r button {width: 195px; margin: 50px auto 0 auto}

/*  BK
------------------------------------- */
.BKh, .BK0 {display: block; border: solid 1px #FFF; background: #FCFCFC;

-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
 -khtml-box-shadow: 0 0 1px rgba(0,0,0,0.5);
   -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.5);
     -o-box-shadow: 0 0 1px rgba(0,0,0,0.5);
   		box-shadow: 0 0 1px rgba(0,0,0,0.5);

background: -webkit-linear-gradient(top,rgba(252,252,252,1) 50%, rgba(240,240,240,1) 100%);
background:    -moz-linear-gradient(top,rgba(252,252,252,1) 50%, rgba(240,240,240,1) 100%);
background: 	-ms-linear-gradient(top,rgba(252,252,252,1) 50%, rgba(240,240,240,1) 100%);
background: 	 -o-linear-gradient(top,rgba(252,252,252,1) 50%, rgba(240,240,240,1) 100%);
background: 		linear-gradient(top,rgba(252,252,252,1) 50%, rgba(240,240,240,1) 100%);}

.BKh:hover {background: #EEE;

background-image: -webkit-linear-gradient(center bottom,#EAEAEA 11%, #FCFCFC 56%);
background-image: 	 -moz-linear-gradient(center bottom,#EAEAEA 11%, #FCFCFC 56%);
background-image:	  -ms-linear-gradient(center bottom,#EAEAEA 11%, #FCFCFC 56%);
background-image:	   -o-linear-gradient(center bottom,#EAEAEA 11%, #FCFCFC 56%);
background-image:		  linear-gradient(center bottom,#EAEAEA 11%, #FCFCFC 56%);

-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05);
 -khtml-box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05); 
   -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05); 
    -ms-box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05); 
     -o-box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05);
   		box-shadow: 0 0 8px rgba(0,0,0,0.5), inset 0 0 10px 5px rgba(0,0,0,0.05);}

/* ==================================================
   BUTTON
================================================== */

.BT1, .BT2, .BT3 {
display: inline-block;
border: 1px solid transparent;
text-align: center;
text-shadow: 0 -1px 0px rgba(0,0,0,0.3);
color: #FFF;

background: #69C;
background: -webkit-linear-gradient(top,rgba(255,255,255,0.2) 10%,rgba(0,0,0,0.1) 100%);
background:    -moz-linear-gradient(top,rgba(255,255,255,0.2) 10%,rgba(0,0,0,0.1) 100%);
background:		-ms-linear-gradient(top,rgba(255,255,255,0.2) 10%,rgba(0,0,0,0.1) 100%);
background:		 -o-linear-gradient(top,rgba(255,255,255,0.2) 10%,rgba(0,0,0,0.1) 100%);
background:			linear-gradient(top,rgba(255,255,255,0.2) 10%,rgba(0,0,0,0.1) 100%);

-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);
 -khtml-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);
     -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);
   		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 0 2px rgba(0,0,0,0.4);}

.BT1 {height: 28px; padding: 0 20px; line-height: 24px}
.BT2 {height: 40px; padding: 0 30px; line-height: 36px}
.BT3 {height: 20px; padding: 0 10px; line-height: 18px}

.BT1:hover, .BT2:hover, .BT3:hover {line-height: 26px;
-webkit-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);
 -khtml-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);
     -o-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);
   		box-shadow: inset 0 1px 2px 2px rgba(0,0,0,0.3);}

.BT2:hover {line-height: 38px}
.BT3:hover {line-height: 20px}

/* Color */
.BLACK, .BLACK:hover	{background-color: #555}
.BLUE1, .BLUE1:hover	{background-color: #39E}
.BLUE2, .BLUE2:hover	{background-color: #69C}
.GREEN, .GREEN:hover	{background-color: #698}
.GREY, .GREY:hover		{background-color: #888}
.OR, .OR:hover			{background-color: #BA6}

/* ==================================================
   SEPARATOR
================================================== */

.HR, .HR0, .HRt, .HRb {display: block; height: 1px; margin: 50px auto; background: #E4E4E4;

background: -webkit-linear-gradient(left,rgba(228,228,228,0.1) 0,#E4E4E4 50%,rgba(228,228,228,0.1) 99%);
background:    -moz-linear-gradient(left,rgba(228,228,228,0.1) 0,#E4E4E4 50%,rgba(228,228,228,0.1) 99%);
background: 	-ms-linear-gradient(left,rgba(228,228,228,0.1) 0,#E4E4E4 50%,rgba(228,228,228,0.1) 99%);
background: 	 -o-linear-gradient(left,rgba(228,228,228,0.1) 0,#E4E4E4 50%,rgba(228,228,228,0.1) 99%);
background: 		linear-gradient(left,rgba(228,228,228,0.1) 0,#E4E4E4 50%,rgba(228,228,228,0.1) 99%);}

.HR0 {margin: 0 auto}
.HRt {margin: 50px auto 0 auto}
.HRb {margin: 0 auto 50px auto}

/* ==================================================
   RADIUS
================================================== */

.R4 {
-webkit-border-radius: 4px;
 -khtml-border-radius: 4px;
   -moz-border-radius: 4px;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
     	border-radius: 4px}

.R5 {
-webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
   -moz-border-radius: 5px;
    -ms-border-radius: 5px;
     -o-border-radius: 5px;
     	border-radius: 5px}

.R20 {
-webkit-border-radius: 20px;
 -khtml-border-radius: 20px;
   -moz-border-radius: 20px;
    -ms-border-radius: 20px;
     -o-border-radius: 20px;
     	border-radius: 20px}

.R4t {
-webkit-border-radius: 4px 4px 0 0;
 -khtml-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
     -o-border-radius: 4px 4px 0 0;
     	border-radius: 4px 4px 0 0}

.R4b {
-webkit-border-radius: 0 0 4px 4px;
 -khtml-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
     -o-border-radius: 0 0 4px 4px;
     	border-radius: 0 0 4px 4px}

.R4bl {
-webkit-border-radius: 0 0 0 4px;
 -khtml-border-radius: 0 0 0 4px;
   -moz-border-radius: 0 0 0 4px;
    -ms-border-radius: 0 0 0 4px;
     -o-border-radius: 0 0 0 4px;
     	border-radius: 0 0 0 4px}

.R4br {
-webkit-border-radius: 0 0 4px 0;
 -khtml-border-radius: 0 0 4px 0;
   -moz-border-radius: 0 0 4px 0;
    -ms-border-radius: 0 0 4px 0;
     -o-border-radius: 0 0 4px 0;
     	border-radius: 0 0 4px 0}

/* ==================================================
   LINK TRANSITION
================================================== */

.BK0 h2 {
-webkit-transition: 1s;
   -moz-transition: 1s;
    -ms-transition: 1s;
     -o-transition: 1s;
     	transition: 1s}

.BT1, .BT2, #menu a, header nav + nav a, #SC_idx_sv h2, .SVCcom div:nth-child(5) div:hover, input, #SC_idx_if a, #BK_des_if1 a, #BK_des_if2 a, #SC_pic_sv2 a {
-webkit-transition: 0.4s;
   -moz-transition: 0.4s;
    -ms-transition: 0.4s;
     -o-transition: 0.4s;
     	transition: 0.4s}

/* ==================================================
   NAV_TAB
================================================== */
.NAV_0 li a, .NAV_3 li a, .NAV_4 li a {display: block; padding: 10px;

-webkit-border-radius: 4px 4px 0 0;
 -khtml-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
     -o-border-radius: 4px 4px 0 0;
     	border-radius: 4px 4px 0 0}

.NAV_3 li, .NAV_4 li {float: left}
.NAV_3 li.selected a, .NAV_4 li.selected a, .NAV_3 li.selected a:hover, .NAV_4 li.selected a:hover
{background: #F5F5F5; color: #69C}
.NAV_3 li a, .NAV_4 li a {width: 150px; margin-right: 5px; text-align: center; background: #E3E3E3; color: #999}
.NAV_3 li a:hover, .NAV_4 li a:hover {background: #CCC}

/* NAV */
.NAV_0 li.selected a:before {opacity: 0.4}
.NAV_0 li.selected a {font-weight: 600; color: #555}
.NAV_3 {margin: 0 auto; width: 465px}
.NAV_4 {margin: 0 auto; width: 620px}

/* ==================================================
   TEXT
================================================== */

/*  ACCOUNT & COMMAND
------------------------------------- */
.T_CMD1, .T_CMD2 {padding: 25px 0; text-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.T_CMD1 article, .T_CMD2 article {padding-left: 50px}
.T_CMD1 article div, .T_CMD2 article div {font-weight: 600}
.T_CMD1 article div:nth-child(n+5), .T_CMD1 a div:nth-child(n+5),
.T_CMD2 article div:nth-child(n+4), .T_CMD2 a div:nth-child(n+4) {width: 110px; text-align: right}
.T_CMD1 a, .T_CMD2 a {display: block; padding-left: 50px; cursor: pointer}
.T_CMD1 a:nth-child(odd), .T_CMD2 a:nth-child(odd) {background: #F6F6F6}

/* T_CMD1 */
.T_CMD1 article div, .T_CMD1 a div {display: inline-block; padding: 8px 5px; width: 158px}
.T_CMD1 article div:nth-child(7), .T_CMD1 a div:nth-child(7) {width: 42px}
.T_CMD1 a div:last-child {color: #69C; font-weight: 600; visibility: hidden}
.T_CMD1 a:hover div:last-child {visibility: visible}
.T_CMD1 a div {font-size: 12px}

/* T_CMD2 */
.T_CMD2 article div, .T_CMD2 a div {display: inline-block; padding: 8px 0; width: 270px}
.T_CMD2 article div:nth-child(1), .T_CMD2 a div:nth-child(1) {width: 40px; margin-right: 50px}
.T_CMD2 a div {font-size: 12px}
.T_CMD2 img {width: 40px; height: 40px}
.T_CMD2 img {background: url('ret/idx/img_N2r.jpg') 50% 50%}
.T_CMD2 article:last-child div {margin-top: 20px; color: #39E}

/*  ALL
------------------------------------- */

/* T_BK1 */
.T_BK1 {text-shadow: 0 1px 2px rgba(0,0,0,0.15); padding: 50px 150px; text-align: center}
.T_BK1 h2 {margin-bottom: 40px; font-size: 70px; font-weight: 300}
.T_BK1 h3 {margin-bottom: 40px; font-size: 50px; font-weight: 300}
.T_BK1 h2 span, .T_BK1 h3 span {display: block; font-size: 30px; font-weight: 300; color: #69C}
.T_BK1 p {font-size: 18px; font-weight: 300; line-height: 28px; color: #555}
.T_BK1 a {margin-top: 40px}

/* T_BK1l */
.T_BK1l {text-shadow: 0 1px 2px rgba(0,0,0,0.15); padding: 50px 350px 50px 50px; text-align: left}
.T_BK1l h2 {margin-bottom: 40px; font-size: 70px; font-weight: 300}
.T_BK1l h3 {margin-bottom: 40px; font-size: 50px; font-weight: 300}
.T_BK1l h2 span, .T_BK1 h3 span {display: block; font-size: 30px; font-weight: 300; color: #69C}
.T_BK1l p {font-size: 18px; font-weight: 300; line-height: 28px; color: #555}
.T_BK1l a {margin-top: 40px}

/* T_BK1r */
.T_BK1r {text-shadow: 0 1px 2px rgba(0,0,0,0.15); padding: 50px 50px 50px 350px; text-align: right}
.T_BK1r h2 {margin-bottom: 40px; font-size: 70px; font-weight: 300}
.T_BK1r h3 {margin-bottom: 40px; font-size: 50px; font-weight: 300}
.T_BK1r h2 span, .T_BK1 h3 span {display: block; font-size: 30px; font-weight: 300; color: #69C}
.T_BK1r p {font-size: 18px; font-weight: 300; line-height: 28px; color: #555}
.T_BK1r a {margin-top: 40px}

/* T_1 */
.T_1 {text-shadow: 0 1px 2px rgba(0,0,0,0.1); padding: 50px}
.T_1 article {width: 50%; float: left}
.T_1 article h1 {font-size: 35px;font-weight: 300; color: #69C}
.T_1 article div {width: 225px; height: 160px; margin: 30px 0 20px 0; background: no-repeat center center}
.T_1 article h2, .T_1 h3 {margin: 15px 0; font-size: 20px; font-weight: 300; line-height: 30px}
.T_1 article p {font-weight: 300; color: #555; line-height: 23px}
.T_1 article p + a {margin-top: 40px}
.T_1 article ul {margin-top: 40px}
.T_1 article ul li:nth-child(1) {float: left}
.T_1 article ul li:nth-child(2) {float: right}

.T_1 aside {width: 35%; float: right}
.T_1 aside li a {margin-top: 1px; padding: 7px 10px; font-weight: 300; color: #AAA}
.T_1 aside li a:hover {color: #333}
.T_1 aside li a:before
{content: url('all/ico/row_1.png'); margin-right: 10px; vertical-align: middle; opacity: 0.15}
.T_1 aside li a:hover:before {opacity: 0.5}

.T_1 aside ul:nth-child(1) {padding: 0 0 30px 0; border-bottom: solid 1px #EEE} 
.T_1 aside ul:nth-child(1) li {display: inline-block}
.T_1 aside ul:nth-child(1) li div {display: inline-block; width: 56px; height: 56px; margin: 0 48px; font-size: 20px; color: #FFF; text-align: center; line-height: 56px;

-webkit-border-radius: 100%;
 -khtml-border-radius: 100%;
   -moz-border-radius: 100%;
    -ms-border-radius: 100%;
     -o-border-radius: 100%;
     	border-radius: 100%}

.T_1 aside ul:nth-child(1) li:nth-child(1) div {background: rgba(0,0,0,0.4);}
.T_1 aside ul:nth-child(1) li:nth-child(2) div {background: rgba(0,0,0,0.5);}
.T_1 aside ul:nth-child(1) li div span {display: inline; color: #FFF}
.T_1 aside ul:nth-child(1) li p {margin-top: 10px; text-align: center}
.T_1 aside ul:nth-child(1) li span {display: block; font-size: 12px; text-align: center}

/* T_2 */
.T_2 {text-shadow: 0 1px 2px rgba(0,0,0,0.1); padding: 50px}
.T_2 article {width: 50%; float: left}
.T_2 article div:first-child h1 {font-size: 35px;font-weight: 300; color: #69C}
.T_2 article div:first-child h2, .T_2 h3 {margin: 15px 0; font-size: 20px; font-weight: 300; line-height: 30px}
.T_2 article div:first-child p {font-weight: 300; color: #555; line-height: 23px}

.T_2 article div:last-child h1 {font-size: 23px; font-weight: 400; letter-spacing: 1px}
.T_2 article div:last-child p {margin: 20px 0; font-size: 30px; font-weight: 300; color: #69C}
.T_2 article div:last-child span {font-size: 13px; font-weight: 300; color: #333}
.T_2 article div:last-child span + span {margin-left: 5px; font-size: 23px; text-decoration: line-through}

.T_2 aside {width: 35%; float: right}
.T_2 aside ul:nth-child(1) li:nth-child(1) div {background: rgba(0,0,0,0.4);}
.T_2 aside ul:nth-child(1) li:nth-child(2) div {background: rgba(0,0,0,0.5);}
.T_2 aside ul:nth-child(1) li div span {display: inline; color: #FFF}
.T_2 aside ul:nth-child(1) li p {margin-top: 10px; text-align: center}
.T_2 aside ul:nth-child(1) li span {display: block; font-size: 12px; text-align: center}
.T_2 aside ul:nth-child(1) {padding-bottom: 30px; border-bottom: solid 1px #EEE} 
.T_2 aside ul:nth-child(1) li {display: inline-block}
.T_2 aside ul:nth-child(1) li div {display: inline-block; width: 56px; height: 56px; margin: 0 48px; font-size: 20px; color: #FFF; text-align: center; line-height: 56px;

-webkit-border-radius: 100%;
 -khtml-border-radius: 100%;
   -moz-border-radius: 100%;
    -ms-border-radius: 100%;
     -o-border-radius: 100%;
     	border-radius: 100%}

.T_2 aside ul:nth-child(2) h2 {font-size: 15px; color: #555}
.T_2 aside ul:nth-child(2) h2:before
{content: url('all/ico/row_1.png'); margin-right: 10px; vertical-align: middle; opacity: 0.15}
.T_2 aside ul:nth-child(2) li a {margin-top: 1px; padding: 7px 10px; font-weight: 300; color: #AAA}
.T_2 aside ul:nth-child(2) li a:hover span {color: #39C}
.T_2 aside ul:nth-child(2) li span {display: block; margin-left: 24px; font-weight: 300; color: #BBB}

/* T_3 */
.T_3 {text-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.T_3 article {width: 40%; float: left}
.T_3 article h1 {font-size: 35px;font-weight: 300; color: #69C}
.T_3 article h2 {font-size: 25px; font-weight: 300; line-height: 30px}
.T_3 article .CLR div {margin: 30px 0; padding: 4px 0}
.T_3 article div img {width: 50px; margin-right: 15px; background: url('all/img_dd.jpg'); float: left}
.T_3 article div div h4 {font-size: 16px; font-weight: 600}
.T_3 article div div h5 {font-size: 16px; font-weight: 300}
.T_3 article p {font-weight: 300; color: #555; line-height: 23px}
.T_3 article div:last-child span:nth-child(1) {display: inline-block; font-size: 18px; font-weight: 300}
.T_3 article div:last-child span:nth-child(2) {font-size: 50px; margin-left: 10px; color: #69C}
.T_3 article div:last-child div {display: inline-block}
.T_3 article div:last-child sup {display: block; font-size: 14px; letter-spacing: 1px; color: #69C}
.T_3 article div:last-child sub {font-size: 16px}
.T_3 article a {display: block; margin-top: 15px}

.T_3 aside {width: 40%; float: right}
.T_3 aside h3 {margin-top: 30px; font-size: 18px}

.T_3 aside ul:nth-child(1) {padding-bottom: 30px; border-bottom: solid 1px #EEE}
.T_3 aside ul:nth-child(1) li {display: inline-block}

.T_3 aside ul:nth-child(1) li div {

display: inline-block;
width: 60px;
height: 60px;
margin: 0 28px;
font-size: 20px;
color: #FFF;
text-align: center;
line-height: 60px;

-webkit-border-radius: 100%;
 -khtml-border-radius: 100%;
   -moz-border-radius: 100%;
    -ms-border-radius: 100%;
     -o-border-radius: 100%;
     	border-radius: 100%}

.T_3 aside ul:nth-child(1) li div span {margin-left: 2px; color: #FFF}
.T_3 aside ul:nth-child(1) li:nth-child(1) div {background: rgba(0,0,0,0.6);}
.T_3 aside ul:nth-child(1) li:nth-child(2) div {background: rgba(0,0,0,0.4);}
.T_3 aside ul:nth-child(1) li:nth-child(3) div {background: rgba(0,0,0,0.2);}
.T_3 aside ul:nth-child(1) li p {margin-top: 10px; text-align: center}
.T_3 aside ul:nth-child(1) li p span {display: block; text-align: center; font-weight: 300}

.T_3 aside ul:nth-child(n+2) {margin: 15px 0}
.T_3 aside ul:nth-child(n+2) li:before {content: url('all/ico/row_1.png'); margin-right: 10px; vertical-align: middle; opacity: 0.15}
.T_3 aside ul:nth-child(n+2) li {margin: 5px 0}
.T_3 aside ul:nth-child(n+2) span {margin-left: 5px; color: #69C; float: right}

/*  OTHER
------------------------------------- */

/* T_OTH */
.T_OTH {padding: 20px 100px; text-shadow: 0 1px 2px rgba(0,0,0,0.1); text-align: center}
.T_OTH article {width: 350px; padding: 30px}
.T_OTH article:nth-child(1) {float: left}
.T_OTH article:nth-child(2) {float: right}
.T_OTH h1 {font-size: 23px; letter-spacing: 2px; text-transform: uppercase}
.T_OTH h2 {margin-top: 10px; font-size: 18px}

.T_OTH p {
margin: 30px 0;
padding-left: 10px;
font-weight: 300;
border-left: 8px solid #EEE;
color: #777;
line-height: 23px;
text-align: left}

/* T_STP */
.T_STP {text-shadow: 0 1px 2px rgba(0,0,0,0.1); text-align: center}
.T_STP article {width: 280px; float: left}
.T_STP article:nth-child(2) {margin: 0 20px}
.T_STP h1 {font-size: 20px; font-weight: 400; letter-spacing: 1px; text-transform: uppercase}
.T_STP p {margin: 15px 0; line-height: 22px; color: #555}
.T_STP a {margin-top: 15px}

/* T_SEQ */
.T_SEQ {text-shadow: 0 1px 2px rgba(0,0,0,0.15);}
.T_SEQ h2 {font-size: 50px; line-height: 50px}
.T_SEQ h3 {margin: 25px 0; font-size: 25px; font-weight: 300; color: #777}

/* T_MOV */
.T_MOV img {width: 80px; height: 80px; float: left;

-webkit-border-radius:	3px 0 0 3px;
-moz-border-radius:		3px 0 0 3px;
-khtml-border-radius:	3px 0 0 3px;
border-radius:			3px 0 0 3px}

.T_MOV hgroup {margin: 8px 0 0 12px; text-align: left; float: left}
.T_MOV h4 {font-size: 13px; font-weight: 600}
.T_MOV h5 {margin: 5px 0; font-size: 13px}
.T_MOV p {font-size: 12px; color: #999}

/* T_FOR */
.T_FOR article {width: 600px; padding: 80px 100px; float: left}
.T_FOR a:nth-child(even) article {float: right}
.T_FOR h2 {margin: 0 0 25px 0; font-size: 35px; font-weight: 300}
.T_FOR p {font-size: 18px; line-height: 24px; ; font-weight: 300; color: #999}
.T_FOR p:last-child:before
{content: url('all/ico/row_1.png'); margin-right: 10px; vertical-align: middle; opacity: 0.15}
.T_FOR P:last-child {margin-top: 25px; color: #777}

/*  INFO
------------------------------------- */

/* T_A1 */
.T_A1 {text-shadow: 0 1px 2px rgba(0,0,0,0.15); text-align: center}
.T_A1 h1 {margin-bottom: 25px; font-size: 35px; font-weight: 300; letter-spacing: 1px}
.T_A1 h1 span {font-size: 35px; font-weight: 600; letter-spacing: 1px}
.T_A1 h2 {margin-bottom: 15px; font-size: 18px; font-weight: 300; color: #777}
.T_A1 p {font-size: 18px; font-weight: 300}
.T_A1 p span {font-size: 22px; font-weight: 400}

/* T_A2 */
.T_A2 {text-shadow: 0 1px 2px rgba(0,0,0,0.15); text-align: center}
.T_A2 h1 {margin-bottom: 10px; font-size: 25px; font-weight: 400; letter-spacing: 1px}
.T_A2 h2 {font-size: 16px; font-weight: 300; color: #666}
.T_A2 span {display: block; font-size: 18px; font-weight: 300; color: #69C}

/* T_A3 */
.T_A3 h1 {font-size: 30px; font-weight: 300; color: #FFF}
.T_A3 h2 {margin-top: 60px; font-size: 14px; font-weight: 300; letter-spacing: 1px; color: #EEE}

/* T_A4 */
.T_A4 {text-shadow: 0 1px 2px rgba(0,0,0,0.15); text-align: center}
.T_A4 h1 {margin: 25px; font-size: 25px; font-weight: 400; letter-spacing: 1px}
.T_A4 h2 {margin: 25px; font-size: 18px; font-weight: 300; color: #555}
.T_A4 h3 {font-size: 18px; font-weight: 400; text-transform: uppercase}
.T_A4 h4 {font-size: 13px; font-weight: 300}
.T_A4 p {padding: 0 25px 25px 25px; font-size: 13px; font-weight: 300}
.T_A4 span {display: block; font-size: 13px; font-weight: 300; color: #69C}
.T_A4:hover h2 {color: #69C}

/*  LINE SHADOW
------------------------------------- */
.T_LS2, .T_LS3, .T_LS3l {text-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.T_LS2 article, .T_LS3 a, .T_LS3 article, .T_LS3l a {padding: 25px}
.T_LS3 a:hover h1, .T_LS3l a:hover h1 {color: #69C}
.T_LS2 h1, .T_LS3 h1, .T_LS3l h1 {font-size: 16px; letter-spacing: 3px; text-transform: uppercase}
.T_LS2 h2, .T_LS3 h2, .T_LS3l h2
{margin: 10px 0; font-size: 13px; font-weight: 300; line-height: 20px; color: #999}
.T_LS2 p, .T_LS3 p, .T_LS3l p {font-size: 14px; font-weight: 300}

/* T_LS2 */
.T_LS2 {background: url('all/ls/LS2.jpg') no-repeat}
.T_LS2 article:nth-child(1)  {width: 480px; float: left}
.T_LS2 article:nth-child(2)  {width: 480px; float: right}

/* T_LS3 */
.T_LS3 {background: url('all/ls/LS3.jpg') no-repeat}
.T_LS3 a:nth-child(1), .T_LS3 article:nth-child(1)  {width: 327px; float: left}
.T_LS3 a:nth-child(2), .T_LS3 article:nth-child(2)  {width: 326px; float: left}
.T_LS3 a:nth-child(3), .T_LS3 article:nth-child(3)  {width: 327px; float: right}

/* T_LS3l */
.T_LS3l {background: url('all/ls/LS3l.jpg') no-repeat}
.T_LS3l a:nth-child(1) {width: 367px; float: left}
.T_LS3l a:nth-child(2) {width: 366px; float: left}
.T_LS3l a:nth-child(3) {width: 367px; float: right}

/* ==================================================
   ANIMATION
================================================== */

.AN_TR1 {
-webkit-animation: an_tr1 3s ease;
   -moz-animation: an_tr1 3s ease;
    -ms-animation: an_tr1 3s ease;
     -o-animation: an_tr1 3s ease;
        animation: an_tr1 3s ease}

.AN_TR2A {
-webkit-animation: an_tr2 3s ease;
   -moz-animation: an_tr2 3s ease;
    -ms-animation: an_tr2 3s ease;
     -o-animation: an_tr2 3s ease;
        animation: an_tr2 3s ease}

.AN_TR2B {
-webkit-animation: an_tr2 5s ease;
   -moz-animation: an_tr2 5s ease;
    -ms-animation: an_tr2 5s ease;
     -o-animation: an_tr2 5s ease;
        animation: an_tr2 5s ease}

.AN_TR3 {
-webkit-animation: an_tr3 6s ease;
   -moz-animation: an_tr3 6s ease;
    -ms-animation: an_tr3 6s ease;
     -o-animation: an_tr3 6s ease;
        animation: an_tr3 6s ease}

.AN_TR4 {
-webkit-animation: an_tr3 2s ease;
   -moz-animation: an_tr3 2s ease;
    -ms-animation: an_tr3 2s ease;
     -o-animation: an_tr3 2s ease;
        animation: an_tr3 2s ease}

.AN_OP1 {
-webkit-animation: an_op1 6s ease;
   -moz-animation: an_op1 6s ease;
    -ms-animation: an_op1 6s ease;
     -o-animation: an_op1 6s ease;
        animation: an_op1 6s ease}

.AN_OP2 {
-webkit-animation: an_op1 4s ease;
   -moz-animation: an_op1 4s ease;
    -ms-animation: an_op1 4s ease;
     -o-animation: an_op1 4s ease;
        animation: an_op1 4s ease}

.AN_OP3 {
-webkit-animation: an_op1 1s ease-in;
   -moz-animation: an_op1 1s ease-in;
    -ms-animation: an_op1 1s ease-in;
     -o-animation: an_op1 1s ease-in;
        animation: an_op1 1s ease-in}

.AN_RT1 {
-webkit-animation: an_rt1 6s, an_op1 8s ease;
   -moz-animation: an_rt1 6s, an_op1 8s ease;
    -ms-animation: an_rt1 6s, an_op1 8s ease;
     -o-animation: an_rt1 6s, an_op1 8s ease;
        animation: an_rt1 6s, an_op1 8s ease}

/* AN_TR1 */
@-webkit-keyframes an_tr1 {
0% {-webkit-transform: translateX(800px);}
50% {-webkit-transform: translateX(600px);}
100% {-webkit-transform: translateX(0px);}}
@-moz-keyframes an_tr1 {
0% {-moz-transform: translateX(800px);}
50% {-moz-transform: translateX(600px);}
100% {-moz-transform: : translateX(0px);}}
@-o-keyframes an_tr1 {
0% {-o-transform: translateX(800px);}
50% {-o-transform: translateX(600px);}
100% {-o-transform: translateX(0px);}}
@-ms-keyframes an_tr1 {
0% {-ms-transform: translateX(800px);}
50% {-ms-transform: translateX(600px);}
100% {-ms-transform: translateX(0px);}}
@keyframes an_tr1 {
0% {transform: translateX(800px);}
50% {transform: translateX(600px);}
100% {transform: translateX(0px);}}

/* AN_TR2 */
@-webkit-keyframes an_tr2 {
0% {-webkit-transform: translateX(800px) rotate(-5deg);}
50% {-webkit-transform: translateX(600px) rotate(-5deg);}
100% {-webkit-transform: translateX(0px) rotate(-5deg);}}
@-moz-keyframes an_tr2 {
0% {-moz-transform: translateX(800px) rotate(-5deg);}
50% {-moz-transform: translateX(600px) rotate(-5deg);}
100% {-moz-transform: : translateX(0px) rotate(-5deg);}}
@-o-keyframes an_tr2 {
0% {-o-transform: translateX(800px) rotate(-5deg);}
50% {-o-transform: translateX(600px) rotate(-5deg);}
100% {-o-transform: translateX(0px) rotate(-5deg);}}
@-ms-keyframes an_tr2 {
0% {-ms-transform: translateX(800px) rotate(-5deg);}
50% {-ms-transform: translateX(600px) rotate(-5deg);}
100% {-ms-transform: translateX(0px) rotate(-5deg);}}
@keyframes an_tr2 {
0% {transform: translateX(800px) rotate(-5deg);}
50% {transform: translateX(600px) rotate(-5deg);}
100% {transform: translateX(0px) rotate(-5deg);}}

/* AN_TR3 */
@-webkit-keyframes an_tr3 {
0% {-webkit-transform: translateY(800px);}
50% {-webkit-transform: translateY(600px);}
100% {-webkit-transform: translateY(0px);}}
@-moz-keyframes an_tr3 {
0% {-moz-transform: translateY(800px);}
50% {-moz-transform: translateY(600px);}
100% {-moz-transform: : translateY(0px);}}
@-o-keyframes an_tr3 {
0% {-o-transform: translateY(800px);}
50% {-o-transform: translateY(600px);}
100% {-o-transform: translateY(0px);}}
@-ms-keyframes an_tr3 {
0% {-ms-transform: translateY(800px);}
50% {-ms-transform: translateY(600px);}
100% {-ms-transform: translateY(0px);}}
@keyframes an_tr3 {
0% {transform: translateY(800px);}
50% {transform: translateY(600px);}
100% {transform: translateY(0px);}}

/* AN_OP1 */
@-webkit-keyframes an_op1 {
0% {-webkit-opacity: 0;}
50% {-webkit-opacity: 0;}
100% {-webkit-opacity: 1;}}
@-moz-keyframes an_op1 {
0% {-moz-opacity: 0;}
50% {-moz-opacity: 0;}
100% {-moz-opacity: 1;}}
@-o-keyframes an_op1 {
0% {-o-opacity: 0;}
50% {-o-opacity: 0;}
100% {-o-opacity: 1;}}
@-ms-keyframes an_op1 {
0% {-ms-opacity: 0;}
50% {-ms-opacity: 0;}
100% {-ms-opacity: 1;}}
@keyframes an_op1 {
0% {opacity: 0;}
50% {opacity: 0;}
100% {opacity: 1;}}

/* AN_RT1 */
@-webkit-keyframes an_rt1 {
0% {-webkit-transform: rotate(0deg);}
50% {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg);}}
@-moz-keyframes an_rt1 {
0% {-moz-transform: rotate(0deg);}
50% {-moz-transform: rotate(0deg);}
100% {-moz-transform: : rotate(360deg);}}
@-o-keyframes an_rt1 {
0% {-o-transform: rotate(0deg);}
50% {-o-transform: rotate(0deg);}
100% {-o-transform: rotate(360deg);}}
@-ms-keyframes an_rt1 {
0% {-ms-transform: rotate(0deg);}
50% {-ms-transform: rotate(0deg);}
100% {-ms-transform: rotate(360deg);}}
@keyframes an_rt1 {
0% {transform: rotate(0deg);}
50% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}}